<section class="footer-section">
  <div class="footer">
    <div>
      <img
        loading="lazy"
        class="footer-logo"
        src="https://res.cloudinary.com/dxqnpsj8k/image/upload/v1768646918/logo_oxk1k4.png"
        alt="the Travel logo of Paradise"
      />
    </div>
    <div class="footer-container">
      <h3 class="heading">Travel Tools</h3>
      <ul class="footer-list">
        <li>
          <a href="/travellers/where-next">Where To Travel Next?</a>
        </li>        
        <li>
          <a href="/travellers/travel-finder-guide">Where Next tool</a>
        </li>
        <li>
          <a href="/paradise-ai">Paradise AI</a>
        </li>      
        <li>
          <a href="/travellers/paradise-travel-ai">About Paradise AI</a>
        </li>
        <li>
          <a href="/ebooks">Travel guides and ebooks</a>
        </li>
      </ul>
    </div>
    <div class="footer-container">
      <h3 class="heading">Discover</h3>
      <ul class="footer-list">
        <li><a href="/Destinations">Destinations</a></li>
        <li><a href="/experiences">Experiences</a></li>
        <li><a href="/blog">Blogs</a></li>
        <li><a href="/countries">Countries</a></li>
        <li><a href="/#continents">Continents</a></li>
      </ul>
    </div>
    <div class="footer-container">
      <h3 class="heading">Know Us</h3>
      <ul class="footer-list">
        <li>
          <a href="/About">About Us</a>
        </li>
        <li>
          <a href="/contact">Contact Us</a>
        </li>
        <li>
          <a href="/privacy">Privacy Policy</a>
        </li>
        <li>
          <a href="/affilliate-disclosure">Affiliate Disclosure</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="reserved">
    <p>&copy; 2025 Luxury Travel | All Rights Reserved</p>
  </div>
</section>