<article class="ebook-card">
  <img 
     src="{{ ebook.data.image }}" 
     alt="{{ ebook.data.title }}"
     loading="lazy"
     width="600"
     height="400"
     fetchpriority="high"
  />
  <h3>{{ ebook.data.title }}</h3>
  <p>{{ ebook.data.description }}</p>

  <a href="{{ ebook.url }}" class="btn-secondary">
    View Ebook
  </a>
</article>
