---
layout: base.njk
permalink: "/continents/{{ slug }}/"
---

<article class="continent-page">
  <!-- HERO -->
  <section
    class="w-full h-fit-content mt-70 p-4 p-4-sm mb-4 bg-center bg-cover bg-no-repeat relative"
    style="
        background-image: linear-gradient(
            to right,
            rgba(0, 0, 0, 0.7),
            rgba(28, 25, 10, 0.5)
          ),
          url('{{ image }}');
      "
  >
    <div class="flights-hero-overlay">
      <div
        class="w-full flex justify-center items-center flex-column mt-70 mb-70"
      >
        <div class="w-90 text-left">
          <h1>{{ title }}</h1>
          <p class="color-secondary max-w-700">{{ description }}</p>
          <!-- AI SEARCH -->
          {%include "ai/ai-box.njk"%}
        </div>
      </div>
    </div>
  </section>

  <!-- AFFILIATE SWIPER -->
{% include "blocks/affiliate-cards.njk" %}

  <!-- DESTINATION -->
  <section class="max-w-1100 mt-70 mb-70 p-20">
    <h2>Top Destinations in {{ title }}</h2>

    <div class="featured-destinations">
      <div class="swiper categories-swiper">
        <div class="swiper-wrapper">
          {% for d in collections.destinations %} {% if d.data.continent == slug
          and loop.index <= 10 %}
          <div class="swiper-slide destination-cards">
            <img
              src="{{ d.data.image }}"
              alt="{{ d.data.title }}"
              width="600"
              height="400"
              loading="lazy"
            />
            <h3>{{ d.data.title }}</h3>
            <p>{{ d.data.excerpt }}</p>
            <a class="link" href="{{ d.url }}">Explore</a>
          </div>
          {% endif %} {% endfor %}
        </div>
      </div>
    </div>

    <div class="pt-20 pb-20">
      <a
        class="btn4"
        href="/continents/{{ slug }}/destinations/"
        class="btn-primary mt-30"
      >
        Explore all exclusive destinations in {{ title }}
      </a>
    </div>
  </section>

  <!-- COUNTRIES -->
  <section class="max-w-1100 p-20 mt-80 mb-80">
    <h2>Top Countries in {{ title }} with Best Experiences</h2>

    <div class="destination-grid mt-40 mb-40">
      {% for c in collections.countries %} {% if c.data.continent == slug and
      loop.index <= 10 %}
      <article class="destination-cards">
        <img
          src="{{ c.data.image }}"
          alt="{{ c.data.title }}"
          class=" m-0 mt-0 mb-0"
          loading="lazy"
          width="600"
          height="400"
        />
        <h3 class="m-0">{{ c.data.title }}</h3>
        <p>{{ c.data.description or c.data.excerpt }}</p>
        <a class="link" href="{{ c.url }}">Explore country</a>
      </article>
      {% endif %} {% endfor %}
    </div>
    <div class="pt-20 pb-20">
      <a
        class="btn4"
        href="/continents/{{ slug }}/countries/"
        class="btn-primary mt-30"
      >
        Explore all countries in {{ title }}
      </a>
    </div>
  </section>

  <!-- EXPERIENCES  -->
  <section class="max-w-1100 mb-40 mt-70 p-20">
    <div class="p-20">
      <h2>Luxury Experiences in {{ title }}</h2>

      <p>
        From cultural landmarks to luxury escapes and adventure travel, {{
        entity.name }} offers diverse experiences for every type of traveler.
      </p>
    </div>

    <div class="deals">
      {% for exp in collections.experiences %} {% if exp.data.continent == slug
      and loop.index <= 10 %} {% include "blocks/featured-experience.njk" %} {%
      endif %} {% endfor %}
    </div>

    <div class="pt-20 pb-20">
      <a
        class="btn4"
        href="/continents/{{ slug }}/experiences/"
        class="btn-primary mt-30"
      >
        Explore all experiences in {{ title }}
      </a>
    </div>
  </section>

  <!-- BLOGS  -->
  <section class="max-w-1100 mt-80 mb-70 p-20">
    <h2>Travel Guides & Insights</h2>

    <div class="destination-grid mt-40 mb-40">
      {% for post in collections.blog %} {% if post.data.continent == slug and
      loop.index <= 10 %}
      <article class="blog-post">
        <img
          src="{{ post.data.image }}"
          alt="{{ post.data.title }}"
          loading="lazy"
          width="600"
          height="400"
          class="m-0 rounded-none"
        />
        <div class="blogpage-content">
          <h3 class="heading m-0">{{ post.data.title }}</h3>
          <p>{{ post.data.excerpt }}</p>
          <a class="link" href="{{ post.url }}">Read guide</a>
        </div>
      </article>
      {% endif %} {% endfor %}
    </div>
    <div class="pt-20 pb-20">
      <a
        class="btn4"
        href="/continents/{{ slug }}/blog/"
        class="btn-primary mt-30"
      >
        Explore all Europe travel guides
      </a>
    </div>
  </section>

  <!-- EBOOKS -->
  {% set relatedEbooks = collections.ebooks | ebooksForContinent(slug) %} {% if
  relatedEbooks.length %}
  <section class="max-w-1100 mt-80 mb-70 p-20">
    <h2>Expert Guides for This Experience</h2>

    <div class="ebooks-grid">
      {% for ebook in relatedEbooks %}
      <article class="ebook-card">{% include "ebooks/ebook-card" %}</article>
      {% endfor %}
    </div>
  </section>
  {% endif %}
  
  {% include "ebooks/ebooks-reusable-card.njk" %} 
  {% include "blocks/faq.njk" %}
  {% include "blocks/newsletter-social.njk" %} 
  {% include "blocks/floating-menu.njk" %}
</article>