---
layout: base.njk
---

<article class="experience-page">

  <!-- HERO SECTION -->
  {% set heroTitle = title %}
  {% set heroDescription = excerpt %}
  {% include "blocks/destination-hero.njk" %}

  <!-- AFFILIATE SWIPER -->
  {% include "blocks/affiliate-cards.njk" %}

  <!-- CONTENT -->
  <section class="p-20 max-w-1100 mt-40 mb-40">
    {{ content | safe }}
  </section>



  <!-- EXPERIENCE - DESTINATION -->
  <section class="max-w-1100">
    {% if destination %}
    <p class="experience-backlink">
      Explore our guide for
      <a class="link" href="/destinations/{{ destination }}/">
        {{ destination | capitalize }}
      </a> Destination
    </p>
    {% endif %}
    <p>
      <a class="btn" href="/destinations/{{ destination }}/">
        Explore {{ destination | capitalize }}
      </a>
    </p>
  </section>

  {# --- MORE EXPERIENCES --- #}
  <section class="max-w-1100 mb-40 mt-70">
    <h2>Explore Other Top Experiences</h2>
    <p>Curated and exclusive experiences worldwide.</p>

    <div class="destination-grid mt-30">
      {% for exp in collections.experiences %}
        {% if loop.index <= 10 %}
          <article class="destination-cards">
            {% include "blocks/featured-experience.njk" %}
          </article>
        {% endif %}
      {% endfor %}
    </div>
  </section>

  {# --- EBOOKS FOR EXPERIENCE --- #}
  {% set relatedEbooks = collections.ebooks | ebooksForExperience(slug) %}

  {% if relatedEbooks.length %}
  <section class="max-w-1100 mt-80 mb-70 p-20">
    <h2>Expert Guides for This Experience</h2>

    <div class="ebooks-grid">
      {% for ebook in relatedEbooks %}
        <article class="ebook-card">
         {% include "ebooks/ebook-card" %}
        </article>
      {% endfor %}
    </div>
  </section>
  {% endif %}


  {% include "blocks/faq.njk" %}  
  {% include "blocks/newsletter-social.njk" %} 
  {% include "blocks/floating-menu.njk" %}
</article>
