<div class="ai-navbar">
  <a href="/">
    <img
      class="logo ml-20 mt-20"
      src="https://res.cloudinary.com/dxqnpsj8k/image/upload/v1769694346/ChatGPT_Image_Jan_28_2026_07_17_21_PM_vwcqt2.png"
      alt="Paradise Logo - Travel with confidence"
    />
  </a>
  <!-- <div class="ai-nav-title">AI Luxury Travel Advisor</div> -->
</div>