<div class="ai-sidebar" id="ai-sidebar">
  <div class="ai-sidebar-item" onclick="toggleSidebar()">
    <p>☰ <span class="ai-label">Close</span></p>
  </div>
  <ul>
    <li class="ai-sidebar-item">
      <a class="color-secondary" href="/"
        ><span class="material-symbols-outlined color-blue pr-2"> home </span
        ><span class="ai-label">Home</span></a
      >
    </li>
    <li class="ai-sidebar-item">
      <a class="color-secondary" href="/destinations"
        ><span class="material-symbols-outlined color-blue pr-2"> explore </span
        ><span class="ai-label">Destinations</span></a
      >
    </li>
    <li class="ai-sidebar-item">
      <a class="color-secondary" href="/experiences"
        ><span class="material-symbols-outlined color-blue pr-2"> vrpano </span
        ><span class="ai-label">Experiences</span></a
      >
    </li>
    <li class="ai-sidebar-item">
      <a class="color-secondary" href="/blog"
        ><span class="material-symbols-outlined color-blue pr-2"> post </span
        ><span class="ai-label">Blogs</span></a
      >
    </li>
  </ul>

<!-- ===== new Chat ===== -->
  <div class="ai-new-chat">
  <button id="newChatBtn" class="new-chat-btn">
    <span class="material-symbols-outlined">add</span>
    <span class="ai-label">New Chat</span>
  </button>
</div>


  <!-- ===== Chat History ===== -->
<div class="ai-chat-history">
  <div class="ai-chat-history-header">
    <span class="material-symbols-outlined color-blue">history</span>
    <span class="ai-label">Chat History</span>
  </div>
  <ul id="chatHistoryList"></ul>
</div>

</div>