<div class="card-deals-container bg-white rounded-lg">
  <div class="exp-card">
    <a href="{{ exp.url }}">
      <img
        class="w-full h-full object-cover m-0 mt-0 mb-0"
        loading="lazy"
        src="{{ exp.data.image }}"
        alt="{{ exp.data.title }}"
        width="600"
        height="400"
      />
    </a>
  </div>

  <div class="p-2 text-left">
    <a href="{{ exp.url }}">
      <h3 class="color-black fs-2 mt-0">{{ exp.data.title }}</h3>
      <p>{{ exp.data.excerpt }}</p>
    </a>
    <a href="{{ exp.url }}" class="link">View experience</a>
  </div>
</div>

