<div class="floating-menu">
  <div class="sub-buttons" id="subButtons">
    <a
      href="/paradise-ai"
      target="_blank"
      rel="nofollow noopener"
      class="float-btn"
      title="Paradise AI"
    >
      <span class="material-symbols-outlined">stars_2</span>
    </a>

    <a
      href="/travellers/where-next"
      target="_blank"
      rel="nofollow noopener"
      class="float-btn"
      title="Where Next?"
    >
      <span class="material-symbols-outlined">travel_explore</span>
    </a>
  </div>

  <button
    class="float-blue-btn main-blue-btn"
    id="menuToggle"
    title="Open Menu"
  >
    <span class="material-symbols-outlined">menu</span>
  </button>
</div>
