---
layout: ebook-layouts/ebooks-hub.njk
title: Premium Travel Ebooks
description: Luxury travel ebooks, insider guides, and premium digital products for elite travelers.
permalink: /ebooks/
---

<!-- TOP EBOOKS -->
{% if collections.featuredEbooks.length %}
<section id="ebooks" class="max-w-1100 mb-70 p-20">
  <h2 class="mt-40 p-20">Top Guides To Read</h2>

  <div class="featured-destinations">
    <div class="swiper categories-swiper">
      <div class="swiper-wrapper">
        {% for ebook in collections.featuredEbooks %}
        <article class="swiper-slide payed-ebook">
          <img
            src="{{ ebook.data.cover }}"
            alt="{{ ebook.data.title }}"
            loading="lazy"
            width="600"
            class="ebook-cover-three"
            height="400"
            class="m-0 rounded-none"
          />
          <div class="ebook-hero-actions mt-20">
        {% if ebook.data.type == "paid" %}
          <a href="{{ ebook.data.payhip_url }}" class="btn3">
            {{ ebook.data.currency }} {{ ebook.data.price }}
          </a>
        {% else %}
          <button
            class="btn3"
            data-open-lead
            data-ebook="{{ ebook.fileSlug }}"
          >
            Get Free
          </button>
        {% endif %}
            <a href="{{ ebook.url }}" class="btn4"> View Ebook </a>
          </div>
        </article>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
{% endif %}

<!-- ALL EBOOKS -->
<section class="max-w-1100 mt-80 mb-70 p-20">
  <h2 class="mt-40 p-20">Paradise Travel Guides</h2>

  <div class="destination-grid mt-40 mb-40">
    {% for ebook in collections.ebooks %}
    <article class="payed-ebook">
      <img
        src="{{ ebook.data.cover }}"
        alt="{{ ebook.data.title }}"
        loading="lazy"
        width="600"
        height="400"
        class="ebook-cover-three"
      />

      <div class="ebook-hero-actions mt-20">
        {% if ebook.data.type == "paid" %}
          <a href="{{ ebook.data.payhip_url }}" class="btn3">
            {{ ebook.data.currency }} {{ ebook.data.price }}
          </a>
        {% else %}
          <button
            class="btn3"
            data-open-lead
            data-ebook="{{ ebook.fileSlug }}"
          >
            Get Free
          </button>
        {% endif %}

        <a href="{{ ebook.url }}" class="btn4">View Ebook</a>
      </div>
    </article>
    {% endfor %}
  </div>
</section>
