---
permalink: "/_data/ebooks.json"
eleventyExcludeFromCollections: true
---
[
{%- for ebook in collections.ebooks -%}
  {
    "slug": "{{ ebook.data.slug }}",
    "download_url": "{{ ebook.data.download_url }}"
  }{% if not loop.last %},{% endif %}
{%- endfor -%}
]
