---
title: AI Travel Assistant | Plan Smarter Trips
description: Ask our AI travel assistant for destinations, seasons, visas, and luxury travel advice.
layout: base.njk
navType: none
footerType: none
permalink: /paradise-ai/
---
<section class="paradise-ai">
  <button id="sidebarToggle" class="sidebar-toggle" aria-label="Open menu">
    ☰
  </button> 
    
    {% include "paradise-ai-content/paradise-ai-navbar.njk" %}


  <div class="ai-layout">
    {% include "paradise-ai-content/paradise-ai-sidebar.njk" %}

    <div class="ai-main">

          <div class="ai-empty-state" id="ai-emptyState">

        <div class="typing-title" id="typing"></div>

        <div class="trust">Powered by AI • Ethical • Travel • Paradise</div>
      </div>

      <div class="chat-wrapper">
          <div class="chat" id="chat">
            <p></p>
            <div id="related-guides" class="related-guides"></div>   
          </div>
      </div>

      

      <div class="input-wrapper" id="inputWrapper">


        <div class="input-box">
          <textarea class="paradise-textarea" id="ai-input" rows="1" placeholder="Ask about your next trip..."></textarea>
          <button class="ai-send-btn" onclick="send()">➤</button>
        </div>
      </div>

    </div>
  </div>
    

    
</section>
